<button aria-label="button" [ngClass]="{
    'w-full flex gap-1 md:gap-2 py-[12px] px-[16px] rounded-lg text-sm text-center justify-center items-center whitespace-nowrap': true,
    'bg-[var(--sidebar-bg)] text-white hover:bg-blue-50': variant() === 'contained',
    'text-sky-700 outline-1 outline-offset-0 outline-[#0164BC] bg-white hover:bg-blue-50 ': variant() === 'outline',
    'text-[#0164BC] hover:text-blue-900': variant() === 'text',
    'opacity-50 cursor-not-allowed': disabled(),
    'cursor-pointer': !disabled()
  }" [disabled]="disabled()" (click)="handleClick($event)">
  @if(icon() && !loading()){
  <img [src]="icon()" alt="button icon" />
  }

  @if(loading()){
  <app-spinner />
  }
  <span><ng-content /></span>
</button>