@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "IRANYekanX";
  src: url("assets/fonts/woff2/IRANYekanXFaNum-Regular.woff2") format("woff2"),
    url("assets/fonts/woff/IRANYekanXFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanX";
  src: url("assets/fonts/woff2/IRANYekanXFaNum-Bold.woff2") format("woff2"),
    url("assets/fonts/woff/IRANYekanXFaNum-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
   --sidebar-blue-light: #162556;
  --sidebar-red-light: #9f0712;
  --sidebar-orange-light: #ca3500;
  --sidebar-yellow-light: #f0b100;
  --sidebar-green-light: #016630;
  --sidebar-black-light: #0a0a0a;
  --sidebar-gray-light: #1f1f1f;
  --sidebar-cyan-light: #007595;
  --sidebar-sky-light: #0069a8;
  --sidebar-purple-light: #6e11b0;
  --sidebar-pink-light: #c6005c;
  --sidebar-rose-light: #c70036;

  --sidebar-blue-dark: #0f172a;
  --sidebar-red-dark: #4c0a0a;
  --sidebar-orange-dark: #4a1d00;
  --sidebar-yellow-dark: #4a3b00;
  --sidebar-green-dark: #00361d;
  --sidebar-black-dark: #000000;
  --sidebar-gray-dark: #0f0f0f;
  --sidebar-cyan-dark: #003c4b;
  --sidebar-sky-dark: #0a2435;
  --sidebar-purple-dark: #2b0a45;
  --sidebar-pink-dark: #4a0823;
  --sidebar-rose-dark: #430012;

  --sidebar-bg: var(--sidebar-blue-light);
}

.no-bg-transition {
  transition-property: color, transform;
}

body {
  font-family: "IRANYekanX", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
}

@utility menu-item {
  @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-sm;
}

@utility menu-item-active {
  @apply bg-gray-50 text-blue-950 dark:bg-gray-500/[0.12] dark:text-gray-400;
}

@utility menu-item-inactive {
  @apply text-white hover:bg-gray-100 hover:text-blue-950 group-hover:text-blue-950 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
}

@utility menu-item-icon {
  @apply text-white group-hover:text-gray-700 dark:text-gray-400;
}

@utility menu-item-icon-active {
  @apply text-blue-950 dark:text-gray-400;
}

@utility menu-item-icon-size {
  & svg {
    @apply !size-6;
  }
}

@utility menu-item-icon-inactive {
  @apply text-white group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

@utility menu-item-arrow {
  @apply relative;
}

@utility menu-item-arrow-active {
  @apply rotate-180 text-blue-950 dark:text-gray-400;
}

@utility menu-item-arrow-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

@utility menu-dropdown-item {
  @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 text-sm font-medium;
}
@utility menu-dropdown-item-active {
  @apply bg-gray-50 text-blue-950 dark:bg-gray-500/[0.12] dark:text-gray-400;
}

@utility menu-dropdown-item-inactive {
  @apply text-white hover:bg-gray-100 hover:text-blue-950 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
}

@utility menu-dropdown-badge {
  @apply text-green-600 dark:text-green-500 block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase;
}

@utility menu-dropdown-badge-active {
  @apply bg-green-100 dark:bg-green-500/20;
}

@utility menu-dropdown-badge-inactive {
  @apply bg-green-50 group-hover:bg-green-100 dark:bg-green-500/15 dark:group-hover:bg-green-500/20;
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}
