@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



@font-face {
    font-family: 'IRANYekanX';
    src: url('assets/fonts/woff2/IRANYekanXFaNum-Regular.woff2') format('woff2'),
        url('assets/fonts/woff/IRANYekanXFaNum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanX';
    src: url('assets/fonts/woff2/IRANYekanXFaNum-Bold.woff2') format('woff2'),
        url('assets/fonts/woff/IRANYekanXFaNum-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.no-bg-transition {
  transition-property: color, transform;
}

body {
    font-family: 'IRANYekanX', 'Helvetica Neue', sans-serif;
    letter-spacing: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
}